
body {
  font-size: 18px;
  font-family: "Vibur", sans-serif;
  background-color: #010a01;
  color: #fff;

}  

h1, h2 {
  text-align: center;
  font-weight: 400;
  line-height: 1;
}

h1{
  font-size: 8vw;
}
  

.container {
  margin-top: 10vh;
}


.border-edit{
    border: 0.1rem solid #fff;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #49fb35,
                /* 0 0 0.8rem #49fb35,
                0 0 2.8rem #49fb35, */
                inset 0 0 1.3rem #49fb35;
  }

.btn-edit{
    margin: auto auto;
    border: 0.1rem solid #fff;
    white-space: normal;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 1rem #49fb35, 
                /* 0 0 0.8rem #49fb35,
                0 0 1.8rem #49fb35, */
                inset 0 0 1.3rem #49fb35;

    color: #fff;
}

.btn:hover{
  color: #49fb35;
}